In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
%pylab inline
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('df.csv', index_col = 0)

In [3]:
df.head()

,Household_ID,AUDIO,DVS,IMAGING,MAJORS,MOBILE,MUSIC,OTHER,P*S*T,PC HDWR,...,PC HDWR_n_n,TELEVISION_n_n,VIDEO HDWR_n_n,WIRELESS_n_n,seg,Transaction_Total,Age_H.Head,Income,GENDER_H.Head,Num_Kids
1,100024091,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,...,-0.453698,1.514392,-0.357676,-0.165522,2,6,44,5,U,0
2,100024909,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,199.99,...,1.046005,-0.510942,-0.357676,-0.165522,2,30,56,7,M,0
3,100025614,0.00,0.0,0.0,0.0,19.99,0.0,0.0,0.0,0.00,...,-0.453698,-0.510942,-0.357676,-0.165522,2,2,46,6,M,0
4,100025901,84.99,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,...,-0.453698,1.514392,-0.357676,-0.165522,2,31,72,7,M,0
5,100035849,0.00,0.0,0.0,0.0,12.99,0.0,0.0,0.0,0.00,...,-0.453698,-0.510942,-0.357676,-0.165522,2,12,32,6,F,0

In [4]:
df.columns

Index(['Household_ID', 'AUDIO', 'DVS', 'IMAGING', 'MAJORS', 'MOBILE', 'MUSIC',
       'OTHER', 'P*S*T', 'PC HDWR', 'TELEVISION', 'VIDEO HDWR', 'WIRELESS',
       'AUDIO_n', 'DVS_n', 'IMAGING_n', 'MAJORS_n', 'MOBILE_n', 'MUSIC_n',
       'OTHER_n', 'P*S*T_n', 'PC HDWR_n', 'TELEVISION_n', 'VIDEO HDWR_n',
       'WIRELESS_n', 'AUDIO_n_n', 'DVS_n_n', 'IMAGING_n_n', 'MAJORS_n_n',
       'MOBILE_n_n', 'MUSIC_n_n', 'OTHER_n_n', 'P*S*T_n_n', 'PC HDWR_n_n',
       'TELEVISION_n_n', 'VIDEO HDWR_n_n', 'WIRELESS_n_n', 'seg',
       'Transaction_Total', 'Age_H.Head', 'Income', 'GENDER_H.Head',
       'Num_Kids'],
      dtype='object')

In [5]:
df2 = df.drop(columns = ['seg', 'AUDIO', 'DVS', 'IMAGING', 'MAJORS', 'MOBILE', 'MUSIC',
       'OTHER', 'P*S*T', 'PC HDWR', 'TELEVISION', 'VIDEO HDWR', 'WIRELESS'])

In [6]:
df2.head()

,Household_ID,AUDIO_n,DVS_n,IMAGING_n,MAJORS_n,MOBILE_n,MUSIC_n,OTHER_n,P*S*T_n,PC HDWR_n,...,P*S*T_n_n,PC HDWR_n_n,TELEVISION_n_n,VIDEO HDWR_n_n,WIRELESS_n_n,Transaction_Total,Age_H.Head,Income,GENDER_H.Head,Num_Kids
1,100024091,-0.353520,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,1.514392,-0.357676,-0.165522,6,44,5,U,0
2,100024909,-0.353520,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,1.247781,...,-0.302072,1.046005,-0.510942,-0.357676,-0.165522,30,56,7,M,0
3,100025614,-0.353520,-0.16112,-0.291037,-0.150954,0.483707,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,-0.510942,-0.357676,-0.165522,2,46,6,M,0
4,100025901,2.705711,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,1.514392,-0.357676,-0.165522,31,72,7,M,0
5,100035849,-0.353520,-0.16112,-0.291037,-0.150954,0.205362,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,-0.510942,-0.357676,-0.165522,12,32,6,F,0

In [7]:
df2['GENDER_H.Head'] = (df['GENDER_H.Head'] == 'M') *1.0

In [10]:
df2.head()

,Household_ID,AUDIO_n,DVS_n,IMAGING_n,MAJORS_n,MOBILE_n,MUSIC_n,OTHER_n,P*S*T_n,PC HDWR_n,...,P*S*T_n_n,PC HDWR_n_n,TELEVISION_n_n,VIDEO HDWR_n_n,WIRELESS_n_n,Transaction_Total,Age_H.Head,Income,GENDER_H.Head,Num_Kids
1,100024091,-0.353520,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,1.514392,-0.357676,-0.165522,6,44,5,0.0,0
2,100024909,-0.353520,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,1.247781,...,-0.302072,1.046005,-0.510942,-0.357676,-0.165522,30,56,7,1.0,0
3,100025614,-0.353520,-0.16112,-0.291037,-0.150954,0.483707,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,-0.510942,-0.357676,-0.165522,2,46,6,1.0,0
4,100025901,2.705711,-0.16112,-0.291037,-0.150954,-0.311167,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,1.514392,-0.357676,-0.165522,31,72,7,1.0,0
5,100035849,-0.353520,-0.16112,-0.291037,-0.150954,0.205362,-0.152683,0.107554,-0.2396,-0.432225,...,-0.302072,-0.453698,-0.510942,-0.357676,-0.165522,12,32,6,0.0,0

In [11]:
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.cluster import Birch
from sklearn.cluster import AgglomerativeClustering

bestSil = -1
for k in range(2,10):
    clus = [KMeans(n_clusters=k,n_jobs=-1), Birch(n_clusters=k), 
            AgglomerativeClustering(n_clusters=k)]
    for cl in clus:
        res = cl.fit(df2)
        sil = metrics.silhouette_score(df2, res.labels_)
        print (str(cl)[:10] + ' with k =' +str(k) + ": " + str(round(sil,4)))
        if (sil > bestSil):
            bestSil = sil
            bestCl = cl

KMeans(alg with k =2: 0.6273
Birch(bran with k =2: 0.6055
Agglomerat with k =2: 0.6055
KMeans(alg with k =3: 0.5837
Birch(bran with k =3: 0.5733
Agglomerat with k =3: 0.5733
KMeans(alg with k =4: 0.5464
Birch(bran with k =4: 0.4939
Agglomerat with k =4: 0.4939
KMeans(alg with k =5: 0.5467
Birch(bran with k =5: 0.4935
Agglomerat with k =5: 0.4935
KMeans(alg with k =6: 0.5443
Birch(bran with k =6: 0.5181
Agglomerat with k =6: 0.5181
KMeans(alg with k =7: 0.5461
Birch(bran with k =7: 0.5262
Agglomerat with k =7: 0.5262
KMeans(alg with k =8: 0.5397
Birch(bran with k =8: 0.5283
Agglomerat with k =8: 0.5283
KMeans(alg with k =9: 0.5495
Birch(bran with k =9: 0.5266
Agglomerat with k =9: 0.5266

In [12]:
bestCl

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=-1, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [13]:
res = bestCl.fit(df2)

In [14]:
res.labels_[:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int32)

In [15]:
df = pd.read_csv('ssN.csv', index_col = 0)

In [16]:
df.columns = ['demo','clu1','clu2','clu3','clu4','clu5']

In [17]:
df.head()

      demo        clu1         clu2        clu3        clu4        clu5
1   N_HHLD  963.000000  6216.000000  240.000000  267.000000  115.000000
2      Age   47.650052    48.344434   49.820833   52.022472   44.573913
3   Income    5.968847     5.589929    5.829167    5.745318    6.043478
4   PctMen    0.561786     0.528797    0.645833    0.490637    0.547826
5  N_child    0.548287     0.397201    0.333333    0.501873    0.391304

In [19]:
df1 = pd.read_csv('ss.csv',index_col = 0)

In [20]:
df2 = pd.read_csv('nn.csv',index_col = 0)

In [21]:
df1.head()

,variable,1,2,3,4,5
1,"19-20"""" COLOR TV_x_n",-0.034622,0.005217,0.033543,-0.029029,0.005325
2,"25"""" & UP TV/VCR COMBI_x_n",0.025595,-0.002491,-0.055855,0.039950,-0.055855
3,"25"""" TELEVISION_x_n",-0.045758,0.008004,-0.004675,0.034844,-0.120615
4,"27"""" TELEVISIONS_x_n",-0.062522,0.012505,-0.093461,0.016930,0.003349
5,"30"""" AND LARGER TV'S_x_n",-0.035641,0.006883,-0.066413,-0.053086,0.188275

In [22]:
df1.columns = ['sub_cat','clu1','clus2','clus3','clus4','clus5']

In [23]:
df1.head()

,sub_cat,clu1,clus2,clus3,clus4,clus5
1,"19-20"""" COLOR TV_x_n",-0.034622,0.005217,0.033543,-0.029029,0.005325
2,"25"""" & UP TV/VCR COMBI_x_n",0.025595,-0.002491,-0.055855,0.039950,-0.055855
3,"25"""" TELEVISION_x_n",-0.045758,0.008004,-0.004675,0.034844,-0.120615
4,"27"""" TELEVISIONS_x_n",-0.062522,0.012505,-0.093461,0.016930,0.003349
5,"30"""" AND LARGER TV'S_x_n",-0.035641,0.006883,-0.066413,-0.053086,0.188275

In [24]:
df1.groupby('sub_cat')['clu1'].nlargest(10)

sub_cat
19-20"" COLOR TV_x_n            1     -0.034622
25"" & UP TV/VCR COMBI_x_n      2      0.025595
25"" TELEVISION_x_n             3     -0.045758
27"" TELEVISIONS_x_n            4     -0.062522
30"" AND LARGER TV'S_x_n        5     -0.035641
9-16"" COLOR TV_x_n             6      0.019163
ADVANCED TECHNOLOGY TV_x_n      7     -0.035929
AIR CONDITIONERS_x_n            8     -0.049293
ANALOG COMPONENTS_x_n           9     -0.025042
AUDIO FOR VIDEO_x_n             10     0.058497
AUTOMOTIVE SECURITY_x_n         11     0.002419
BUSINESS PROJECTORS_x_n         12     0.056405
CALCULATORS_x_n                 13     0.001090
CAMCORDER_x_n                   14     1.412113
CAMERA ACCESSORIES_x_n          15     0.146431
CAMERAS_x_n                     16     0.606607
CASSETTES AND CHANGERS_x_n      17    -0.037839
CCC DESKTOPS_x_n                18    -0.011322
CCC NOTEBOOKS_x_n               19    -0.015881
CD BOOMBOXES_x_n                20    -0.031627
CD PLAYER -AUTO_x_n             21    -0.071240
CLOCK/TABLE RADIO_x_n           22    -0.012636
COMPACT DISC PLAYER_x_n         23    -0.048986
COMPUTER INPUT DEVICES_x_n      24     0.070612
COMPUTER MONITOR_x_n            25     0.027565
COMPUTER PRINTERS_x_n           26     0.062331
CONVEYABLE A/C_x_n              27    -0.019613
COOKTOPS-ELECTRIC_x_n           28    -0.011322
DESKTOP COMPUTERS_x_n           29    -0.076616
DIGITAL AUDIO RECORDING_x_n     30     0.012221
                                         ...
REFRIDG 7-14 CF;NO DEFROST_x_n  92    -0.011322
REFRIGERATOR SIDE-BY-SIDE_x_n   93    -0.073156
REFRIGERATORS - COMPACT_x_n     94    -0.007201
REFRIGERATORS - TOP MOUNT_x_n   95    -0.066313
SATELLITE DISHES_x_n            96    -0.065677
SATELLITE RADIO_x_n             97     0.009689
SCANNERS_x_n                    98     0.053339
SET-TOP DECODERS_x_n            99    -0.037937
SHARPER IMAGE_x_n               100   -0.015602
SHREDDERS_x_n                   101   -0.011322
SPEAKER - AUTO_x_n              103    0.000147
SPEAKER_x_n                     102   -0.029186
SPECIAL ORDER - CA, RPP IT_x_n  104   -0.044659
SPECIALTY TELECOM_x_n           105    0.057227
SPECIALTY TV_x_n                106    0.044097
STYLING AND LIGHTING_x_n        107    0.066416
SURROUND SOUND SYSTEMS_x_n      108   -0.022140
TELECORDER_x_n                  109    0.004564
TELEVISION_x_n                  110   -0.018555
TURNTABLE_x_n                   111    0.033347
TV PROJECTION_x_n               112   -0.026988
UNIVERSAL REMOTE CONTROLS_x_n   113    0.008127
UNLOADED ENCLOSURES_x_n         114   -0.015293
VACUUM CLEANERS_x_n             115   -0.039323
VCR HOME_x_n                    116   -0.043675
VIDEO GAMES_x_n                 117   -0.021341
WASHERS_x_n                     118   -0.049411
WIRELESS HANDSETS_x_n           119   -0.092043
WIRELESS PHONE_x_n              120   -0.053446
WOOFERS/SUBWOOFERS_x_n          122   -0.075470
Name: clu1, Length: 120, dtype: float64

In [25]:
df2.head()

,variable,1,2,3,4,5
1,"19-20"""" COLOR TV_y_n",-0.027602,0.006298,-0.020632,-0.033940,0.012555
2,"25"""" & UP TV/VCR COMBI_y_n",0.021059,-0.002276,-0.060149,0.057010,-0.060149
3,"25"""" TELEVISION_y_n",-0.054996,0.012189,-0.070168,0.034427,-0.131816
4,"27"""" TELEVISIONS_y_n",-0.079182,0.014724,-0.083048,0.026718,-0.021502
5,"30"""" AND LARGER TV'S_y_n",-0.021997,0.004460,-0.082407,-0.004157,0.124767